* {
  margin: 0;
  font-family: flood-std,sans-serif;
}

.siteHeader {
  display: grid;
  font-family: flood-std,sans-serif;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
.siteName {
  grid-column: 1/2;
  font-family: flood-std,sans-serif;
}

header nav {
  display: grid;
  font-family: flood-std,sans-serif;
}
nav a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 1em;
}
nav a:hover {
  color: blue;
}
.nav1 {
  grid-column: 1/2;
}
.nav2 {
  grid-column: 2/3;
}
.nav3 {
  grid-column: 3/4;
}
.nav4 {
  grid-column: 4/5;
}
.nav5 {
  grid-column: 5/6;
}

main {
  background-color: aquamarine;
  padding: 200px;
}
