* {
  margin: 0;
  font-family: flood;
}

.siteHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  font-size: 30px;
}
.siteName {
  grid-column: 1/2;
}
.siteName a{
  text-decoration: none;
  color: black;
}

header nav {
  display: grid;
}
nav a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 1em;
  font-size: 18px;
}
nav a:hover {
  color: blue;
}
.nav1 {
  grid-column: 1/2;
}
.nav2 {
  grid-column: 2/3;
}
.nav3 {
  grid-column: 3/4;
}
.nav4 {
  grid-column: 4/5;
}
.nav5 {
  grid-column: 5/6;
}

main {
  background-color: aquamarine;
  padding: 200px;
}


/*Contact Page*/
form{
  font-family: Georgia, 'Times New Roman', Times, serif;
}