* {
  margin: 0;
  padding: 0;
  font-family: flood-std, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
}

/*CSS for nav&footer on all pages*/
.siteHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #3d405b;
}
.siteHeader img {
  max-width: 250px;
  margin: 10px;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  margin: 10px;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e07a5f;
  margin-right: 2em;
  font-size: 1.2em;
}
nav a:hover {
  color: #f4f1de;
}

footer {
  background-color: #3d405b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  border-top: solid 5px #81b29a;
  padding: 5px;
  color: #e07a5f;
  font-size: 1.2em;
  bottom: 0;
  width: 100%;
}

footer img {
  max-width: 75px;
  margin: 5px;
}

footer section img {
  max-width: 50px;
  margin: 5px;
}

/*---Home Page--*/

main {
  background-color: #f2cc8f;
}


/* Hero image and text */
.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("/img/sliderimage.jpeg");
height: 40vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.hero-text {
text-align: center;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #f4f1de;
font-size: 1.4em;
}

/*---Home Flex---*/
.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid-item1 {
  grid-column: 1/2;
}
.grid-item2 {
  grid-column: 3/4;
}

/*---Why Page--*/
.title {
  padding:10px;
}

.title h2{
  text-align: center;
}
.title h4{
  text-align: center;
}
 
.features {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.features figure {
  text-align: center;
  margin:auto;
  width:500px;
}

.features figure img {
  width: 500px;
  border-radius: 15px;
}
/*Resources*/

#UnitedDoctors {
  display: flex;
  
}

#UnitedDoctors img{
  width: 150px;
  height: 150px;
  padding: 20px;
}

#Articles {
  display: flex;
}
.item {
  display: flex;
  flex-direction: row;
}
/*Contact Page CSS*/

#info{
  display: flex;
  padding: 40px;
}
.pledge {
text-align: center;
margin-top: 60px;
}

